@import "../index/style.scss";

@include breadcrumbs();
@include productCard(7);
@include productCard(8);
@include productCard(9);
@include productCard(10);
@include productCard(11);
@include productCard(12);
.panel {
	margin-top: 51px;
	margin-bottom: 64px;
	display: flex;
	// align-items: center;
	gap: 320px;
	position: relative;

	&__item-content {
	}
	&__filter {
		font-weight: 600;
		font-size: 14px;
		background: $backgroundWhite;
		&[open] {
			box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
		}
		&[open] > summary > .panel__filter-summary-caption,
		&[open] > summary > svg {
			color: $pinkColor;
			fill: $pinkColor;
		}

		cursor: pointer;
		position: absolute;
		&-summary {
			font-weight: 600;
			font-size: 14px;
			margin-top: 13px;
			margin-left: 16px;
			margin-bottom: 16px;

			&:hover {
				transition: opacity 0.4s;
				opacity: 0.7;
			}
			&::-webkit-details-marker,
			&::marker {
				@include notDisplayDetailsMarker();
			}
			&-caption {
				color: #000;
			}
		}
		&-item {
			margin-left: 17px;
			margin-bottom: 16px;
			margin-right: 15px;
			width: 328px;

			[open] > &-summary > .panel__filter-summary-caption {
				color: $pinkColor;
			}
			&-summary {
				display: flex;
				height: 37px;
				font-weight: 400;
				font-size: 14px;
				color: #6f6e6e;
				border-bottom: 1px solid #ebebeb;
				border-left: 5px solid $pinkColor;
				padding-left: 11px;
				align-items: center;
				&::-webkit-details-marker,
				&::marker {
					@include notDisplayDetailsMarker();
				}
			}
			&-content {
				margin-left: 11px;
				margin-top: 24px;
				margin-bottom: 24px;
				display: flex;
				flex-direction: column;
				gap: 11px;
			}
			&-link {
				color: #6f6e6e;
			}
		}
	}
	&__sort {
		margin-left: 390px;
		display: flex;
		gap: 28px;
		margin-top: 13px;
		margin-bottom: 16px;
		position: relative;
		font-family: "Lato", sans-serif;
	}
}

.sort {
	&__details {
		cursor: pointer;
		position: inherit;
		&-summary {
			display: flex;
			gap: 10px;
			align-items: center;
			&:hover {
				transition: opacity 0.4s;
				opacity: 0.7;
			}
			&::-webkit-details-marker {
				display: none;
			}
		}
		&-header {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 14px;
			color: #6f6e6e;
		}
		&-openedblock {
			position: absolute;
			left: -9px;
			top: 22px;
			box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
			background: #fff;
			padding: 7px 9px;
			display: flex;
			flex-direction: column;
			gap: 6px;
			width: 60px;
			&-item {
				display: flex;
				gap: 9px;
				align-items: center;
				label {
					font-weight: 400;
					font-size: 14px;
					color: #6f6e6e;
				}
				input[type="checkbox"] {
					accent-color: #f16d7f;
				}
			}
		}
	}
}

.products {
	&__pagination {
		border: 2px solid #ebebeb;
		border-radius: 5px;
		padding: 12px 16px;
		display: flex;
		gap: 18px;
		align-items: center;
		&-scroll-button {
			background: none;
			display: flex;
			align-items: center;
		}
		&-pages {
			display: flex;
			gap: 20px;
			&-page {
				font-weight: 300;
				font-size: 16px;
				color: #c4c4c4;
				&-current {
					color: $pinkColor;
				}
			}
			& :nth-last-child(2) {
				margin-right: -20px;
			}
		}
	}
}
