$widthPage: 1140px;
$widthTablet: 720px;
$widthPhone: 343px;
$minWidthPage: 768px;
$backgroundDark: #222222;
$backgroundWhite: #fff;
$fbLightColor: #fbfbfb;
$borderColor: #EAEAEA;
$animationMenu: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
$pinkColor: #f16d7f;
$cartCaptionItemColor: #575757;
$cartCaptionItemValueColor: #6f6e6e;